.normalLink     {color:#01427D;font-size:12px;text-decoration:underline;font-family:Verdana, Arial, Helvetica, sans-serif;}

/* TreeViewControl */
.treeView       {width:auto;display:table;float:left;}
.treeView .treeViewNode   {font-size:12px;}
.treeView .treeViewNode a {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;color:#1F3B6F;}
.treeView .treeViewNodeHover {font-size:12px;}
.treeView .treeViewNodeHover a    {text-decoration:underline;color:#305DB0;font-size:11px;}
.treeView .treeViewRootNode       {font-size:12px;}
.treeView .treeViewNodeSelected   {text-decoration:underline;font-size:13px;font-weight:bold;color:#F62217;}
/* END TreeViewControl */